system_ext/priv-app/Settings/Settings.apk
system_ext/priv-app/SystemUI/SystemUI.apk
my_stock.00011011/priv-app/OppoGallery2/OppoGallery2.apk
my_heytap.00011011/priv-app/Velvet/Velvet.apk
odm/etc/camera/license_release_fdc.lic
odm/etc/camera/model/license.lic
system/system/apex/com.android.vndk.current.apex
