#Configuration info
[Project Info]
    Project = 19696

[OemCamxSettings]
    #Enable/Disable Multi Camera Sensor HW Sync
    enableSensorHWSync = FALSE
    #Enable/Disable Multi Camera framework kernel frame sync
    multiCameraFrameSync  = 0
    #exportSecureCamera true for front aux probe
    exportSecureCamera=TRUE

[AECCapbility]
    #OemCamAECControlVendorID  0:OPPO, 1:realme
    #OemSupernightVendorID 1:arc 2:face++
    OemCamAECControlVendorID = 1
    OemSupernightVendorID = 1
    IsEnableIfeTintless = 1

[OemCamActuatorSettingMap]
    #operation mode     is_need_power      first_value        second_value      third_vaue  if is_need_power is 0 set other variables to 0
        Mode[0]      =     0;                 0;                 0;                0        #VCM lowerBound
        Mode[1]      =     1;                 1;                 0;                -1       #VCM upperBound
        Mode[2]      =     0;                 0;                 0;                0        #BIVCM lowerBound
        Mode[3]      =     1;                 1;                 0;                -1       #BIVCM upperBound

[BokehConfigureInformation]
    RMWCaliSize = 2048
    FMWCaliSize = 2048
    RMTCaliSize = 2048
    RMWDualCaliPathSrc  = /odm/etc/camera/rmwStereoParams.bin
    FMWDualCaliPathSrc  = /odm/etc/camera/fmwStereoParams.bin
    RMTDualCaliPathSrc  = /odm/etc/camera/rmtStereoParams.bin
    RMWDualCaliPathTARGET = /mnt/vendor/persist/camera/dual_calibration/rmwStereoParams.bin
    FMWDualCaliPathTARGET = /mnt/vendor/persist/camera/dual_calibration/fmwStereoParams.bin
    RMTDualCaliPathTARGET = /mnt/vendor/persist/camera/dual_calibration/rmtStereoParams.bin

[ArcsoftAfterSaleCalibration]
    useBackUpCalibrationData = TRUE
    binCount                 = 3